# git ignore file
*.dll
*.pdb
*.exe
*.mdf
*.vsp*
CClash.Tests/bin/*
CClash.Tests/obj/*
cclash/obj/*
cclash/bin/*
UnitTests/*
packages/*
TestResults/*
CClash.Tests/dummy/*
testprogram/bin/*
testprogram/bin/*
testprogram/obj/*
testserver/bin/*
testserver/bin/*
testserver/obj/*
Installer/Installer/Express/DVD-5/LogFiles/*.*
Installer/Installer/Express/DVD-5/Reports/*.*
Installer/Installer/Express/SingleImage/LogFiles/*.*
Installer/Installer/Express/SingleImage/Reports/*.*