# git ignore file
*.dll
*.pdb
*.exe
*.mdf
*.vsp*
CClash.Tests/bin/*
CClash.Tests/obj/*
cclash/obj/*
cclash/bin/*
UnitTests/*
packages/*
TestResults/*
CClash.Tests/dummy/*
testprogram/bin/Debug/*
testprogram/obj/*
testserver/bin/Debug/*
testserver/obj/*